%h1 Edit distribution
%p
  This form allows you to swap two students.
%p
  To swap two students, select both in one of the fields, and click "Save". The two students will then be swapped.

= form_for [@course, @job], validate: true do |f|
  - group_name = ""
  = f.fields_for :results do |r_form|
    - if r_form.object.group.name != group_name
    - group_name = r_form.object.group.name
      %h3= group_name
    .row
      .six.columns
        = r_form.hidden_field :group_id
        - if (registration = r_form.object.job.course.registrations.find_by(user_id: r_form.object.user_id)).active?
          = r_form.select :user_id, @course.students.collect {|s| [ s.name, s.id ] }, { class: "u-full-width", include_blank: "None" }
        - else
          = r_form.select :user_id, @course.students.collect {|s| [ s.name, s.id ] }, { class: "u-full-width", include_blank: "None", selected: false }
  = f.submit 'Save'
