- if @registration.errors.any?
  .row
    .twelve.columns#error_explanation
      ="#{pluralize((@registration.errors.count + @course.errors.count), "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg
        - @course.errors.full_messages.each do |msg|
          %li= msg


= form_for [@course, @registration], validate: true do |f|
  -if @registration.course.skills
    .row
      %h5 Skills
      %p Please rank yourself on the following topics, 1 having no experience and 10 being very experienced
    .row
      .two.columns
        Skills/rankings
      - (1..10).each do |i|
        .one.columns
          = i
    = f.fields_for :skill_scores do |ss_form|
      .row
        .two.columns
          = ss_form.hidden_field :skill_id
          = ss_form.object.skill.name
        - (1..10).each do |i|
          .one.columns
            = ss_form.radio_button :score, i

  - if @registration.course.preferences.compulsory
    %h5 Your study
    .row
      .twelve.columns
        = f.label :study_field
        = f.select :study_field, options_for_select(@registration.course.study_fields), { :include_blank => "Other" }

  -if @registration.course.preferences.groups
    %h5 Preferred topics
    .row
      Please select the order of preference of the topics.
    = f.fields_for :groups do |p_form|
      - @registration.course.groups.each do |group|
        .row
          .three.columns
            = label_tag do
              = group.name + ': '
              %span{id: "weight#{group.id}"}
                = @registration.groups.try(:[], group.id.to_s)
        .row
          .three.columns
            = p_form.range_field group.id, {min: 0, max: 10, class: 'slider', :'data-target' => "span#weight#{group.id}"}

  -if @registration.course.preferences.friends
    %h5 Preferred partners
    .row
      .twelve.columns
        %p
          If there is anyone you would like to work with, you can select them from this list to increase your chances of sharing a group.
    .row
      .six.columns
        %select{name: "registration[friend_ids][]", id: "friends", multiple: '', style: "width: 100%"}
          = options_from_collection_for_select((@registration.course.students - [current_student]), :id, :name, @registration.friend_ids)

      .row
        .twelve.columns
          %p
            Anyone missing? This list only shows students enrolled in this course. If your friends are missing from the list, you can check back later and add them.

  -if @registration.course.preferences.groups && @registration.course.preferences.friends
    .row
      .nine.columns
        Preferred topics
        %span#weight-topics
        = '%'
      .three.columns
        Preferred partners
        %span#weight-parteners
        = '%'
      .twelve.columns
        = f.range_field :weight, {min: 0, max: 100, class: 'slider', :'data-target' => "span#weight-parteners", :'data-target-inverse' => "span#weight-topics"}
  = f.submit 'Save'
