- if @registration.errors.any?
  .row
    .twelve.columns#error_explanation
      ="#{pluralize((@registration.errors.count + @course.errors.count), "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg
        - @course.errors.full_messages.each do |msg|
          %li= msg
        

= form_for [@course, @registration], validate: true do |f|
  -if @registration.course.skills
    .row
      %h5 Skills
      %p Please rank yourself on the following topics, 1 having no experience and 10 being very experienced
      = f.fields_for :skill_scores do |ss_form|
        .row
          = ss_form.hidden_field :skill_id
          .one.column
            = ss_form.object.skill.name
          - (1..10).each do |i|
            .one.column
              = ss_form.label :score, i.to_s
              = ss_form.radio_button :score, i

  - if @registration.course.preferences.compulsory
    %h5 Your study
    .row
      .twelve.columns
        = f.label :compulsory, "Is this course a compulsory (non-optional) part of your curriculum?"
        = f.select :compulsory, options_for_select([['no', false], ['yes', true]])


  -if @registration.course.preferences.groups
    %h5 Preferred topics
    .row
      Please select the order of preference of the topics.
    = f.fields_for :groups do |p_form|
      - @registration.course.groups.each_with_index do |group, index|
        .row
          .three.columns
            = label_tag
          .three.columns
            = p_form.collection_select 'id', @registration.course.groups, :id, :name, {}, {index: index}
    .row
      .twelve.columns
        %p Please select each group exactly once


  -if @registration.course.preferences.friends
    %h5 Preferred partners
    .row
      .twelve.columns
        %p
          If there is anyone you would like to work with, you can select them from this list to increase your chances of sharing a group.
    .row
      .six.columns
        %select{name: "registration[friend_ids][]", id: "friends", multiple: '', style: "width: 100%"}
          = options_from_collection_for_select((@registration.course.students - [current_student]), :id, :name, @registration.friend_ids)

      .row
        .twelve.columns
          %p
            Anyone missing? This list only shows students enrolled in this course. If your friends are missing from the list, you can check back later and add them.            

  = f.submit 'Save'
