= form_for @course, validate: true do |f|
  .row
    .six.columns
      = f.label :name
      = f.text_field :name, class: "u-full-width"
    .three.columns
      = f.label :year
      = f.text_field :year, class: "u-full-width"
    .three.columns
      = f.label :semester
      = f.select :semester, options_for_select([['Sommer', 'SS'], ['Winter', 'WS']]), {}, class: "u-full-width"
  = f.label :description
  = f.text_area :description, class: "u-full-width"
  .row
    = f.label :skills
    = f.collection_select  :skill_ids, Skill.all, :id, :name, {}, {class: "skills", multiple: '', style: "width: 100%"}

  %p
    Please specify what options the students have in choosing groups:
  = f.fields_for :preferences, f.object.preferences do |p_form|
    .row
      = p_form.label :groups, class: 'switch' do
        = p_form.check_box :groups, {class: "switch-input"}, "true", "false"
        %span{class: "switch-label", 'data-on': "On", 'data-off': "Off"}
        %span.switch-handle
      %strong
        Enable topic preferences:
      enable choosing specific groups.

    .row
      = p_form.label :friends, class: 'switch' do
        = p_form.check_box :friends, {class: "switch-input"}, "true", "false"
        %span{class: "switch-label", 'data-on': "On", 'data-off': "Off"}
        %span.switch-handle
      %strong
        Preferred partners:
      enabling this allows students to specify their preferred team members.

    .row
      = p_form.label :diverse, class: 'switch' do
        = p_form.check_box :diverse, {class: "switch-input"}, "true", "false"
        %span{class: "switch-label", 'data-on': "On", 'data-off': "Off"}
        %span.switch-handle
      %strong
        Maximize diversity:
      attempt to create very diverse groups. When disabled, groups will be as evenly skilled as possible.

    .row
      = p_form.label :compulsory, class: 'switch' do
        = p_form.check_box :compulsory, {class: "switch-input"}, "true", "false"
        %span{class: "switch-label", 'data-on': "On", 'data-off': "Off"}
        %span.switch-handle
      %strong
        Compulsory attendance:
      adds support for a group of students that must be assigned to a group (i.e. not the waitinglist).
    .row
      .twelve.columns
      %h5
        Advanced options
    .row
      .four.columns
        = p_form.label :iterations do |label|
          = label.translation
          %span#iterationsVal.slider-score
            = @course.preferences.iterations
        = p_form.range_field :iterations, {min: 10, max: 200, class: 'slider', :'data-target' => 'span#iterationsVal'}

  .row
    .twelve.columns
      %h4
        Mandatory Study Fields
      %p
        Please enter the names of all mandatory studies (students from these studies are guaranteed to have a spot). To add more than one mandatory study, click the "Add mandatory study" button.
      %p
        Students have to select their study from the list of mandatory studies, or select "Other" if their study is not a mandatory one.

  .row
    .twelve.columns
      %h4
        Mandatory studies
  #studies
    - @course.study_fields.each do |study_field|
      .row.entry
        .six.columns
          %input{type: "text", name: "course[study_fields][]", id: "study_fields", style: "width: 100%", value: study_field, placeholder: "Study name (i.e. 'EIT - Digital Cloud Computing')"}
        .six.columns
          = link_to "x", '#',{class: 'button btn-danger remove_fields'}
      = link_to "Add Study Field", '#', {:'data-target' => '#studies', 'data-element' => '.entry', class: ' add_fields button button-primary'}
  
  .row
    .twelve.columns
      %h4
        Groups
  #groups
    = f.fields_for :groups do |g_form|
      = render partial: 'groups/form', locals: { f: g_form }
  = link_to "Add Group", '#',{:'data-target' => '#groups', 'data-element' => '.entry', class: ' add_fields button button-primary'}
  = f.submit "Save"
  = link_to "Cancel", course_path(@course), :class => 'button'