.container
  %p#notice= notice
  - if not @course.closed
    %h2
      = @course.name

    = link_to "Edit", edit_course_path(@course), :class => 'button'
    = link_to "Start distribution", start_course_path(), :data => {:confirm => 'Running the assignment will close the enrollment. This action cannot be undone. Are you sure you want to start?'}, :class => 'button'


  - if @course.closed
    .row
      %h2
        Result of distribution
        - if supervisor_signed_in?
          - @jobs.each do |job|
            %h4
              Job #
              = job.id
            - job.groups.each do |group|
              %h5= group.name
              .row
                %ul
                  - group.students.each do |student|
                    %li= student.name
        - if student_signed_in?
          %h5= @group.name
          .row
            %ul
              - @group.students.each do |student|
                %li= student.name
